In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
import numpy as np
music_df = pd.read_csv('music.csv')
X = music_df.drop(columns = [ 'genre' ])
y = music_df['genre']

In [8]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [31]:
X.values 
#see the difference between X and X.values, agar aab tune badme input as an array dala toh u will need the train set to also be in form of array

array([[20,  1],
       [23,  1],
       [25,  1],
       [26,  1],
       [29,  1],
       [30,  1],
       [31,  1],
       [33,  1],
       [37,  1],
       [20,  0],
       [21,  0],
       [25,  0],
       [26,  0],
       [27,  0],
       [30,  0],
       [31,  0],
       [34,  0],
       [35,  0]], dtype=int64)

In [49]:
model = DecisionTreeClassifier() #the () is extremely imp, tu bhulega toh 'model' won't take any arguements
model.fit(X.values,y)
prediction = model.predict([[35, 1], [24, 0], [47, 1]])
joblib.dump(model, 'genre recommender.joblib')

['genre recommender.joblib']

In [14]:
train_test_split(X, y, test_size=0.2) 
#if you print the above line, you will notice it has 4 distinct datasets in this case...therefore, 4 var are needed to accomodate them
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) 
model1 = DecisionTreeClassifier()
model1.fit(X_train, y_train)
prediction = model1.predict(X_test)
score = accuracy_score(y_test, prediction)
score

0.25

In [15]:
train_test_split(X, y, test_size=0.2)

[    age  gender
 13   27       0
 14   30       0
 7    33       1
 17   35       0
 11   25       0
 2    25       1
 10   21       0
 6    31       1
 3    26       1
 9    20       0
 15   31       0
 8    37       1
 16   34       0
 1    23       1,
     age  gender
 12   26       0
 5    30       1
 0    20       1
 4    29       1,
 13     Acoustic
 14     Acoustic
 7     Classical
 17    Classical
 11        Dance
 2        HipHop
 10        Dance
 6     Classical
 3          Jazz
 9         Dance
 15    Classical
 8     Classical
 16    Classical
 1        HipHop
 Name: genre, dtype: object,
 12    Acoustic
 5         Jazz
 0       HipHop
 4         Jazz
 Name: genre, dtype: object]